<div class="row" >
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			할일 리스트
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>날짜</th>
					<th>완료여부</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="todo in todos" >
					<td>{{todo.no}}</td>
					<td><a href="" ng-click="goDetail(todo.no)">{{todo.title}}</a></td>
					<td>{{todo.eventDate}}</td>
					<td><input type="checkbox" ng-model="todo.completed" ></td>
					<td>
						<button class="btn btn-success btn-xs">완료</button>
						<button class="btn btn-danger btn-xs">삭제</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-footer">
			<span>{{remainingCount}} 개 남았습니다.</span>
		</div>
	</div>

	
</div>